* {
    background-color: #f8f9f5;
    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    color: #333333;
}

#container {
    display: flex;
    flex-wrap: wrap;
    width: 640px;
    height: 640px;
    margin: 20px auto;
    border: 1px solid black;
}

.square {
    border: 1px solid transparent;
    box-sizing: border-box;
    width: 40px;
    height: 40px;
}